html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-size: 6rem !important;
}

header{
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  height: auto !important;
}

input{
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
  font-size: 5rem !important;
  display: inline-block !important;
  height: 3em !important;
}

p{
  font-size: 2em;
  margin-left: 2rem;
}

body {
  margin: 0;
  padding: 0;
}

section[role="region"] > .icon.icon-settings {
  background-image: url(gaiabb/headers/images/icons/settings.png);
}

button[type=submit] {
  width: 100%;
  font-size: 5rem;
}